<section class="thirteen columns">
    <h1>Educación</h1>
    <article>
        <header>
            <h1>Ingeniería de Sistemas de Información</h1>
            <span>Universidad Tecnológica Nacional - FR Mendoza</span>
            <span><a href="http://www.frm.utn.edu.ar/index.php?option=com_content&view=article&id=84&Itemid=114">Plan de Estudios</a></span>
            <img src="{{ site.baseurl }}static/assets/images/utn.jpg" >
            <span><address>Mendoza, AR</address><time>2009 a 2018</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Inglés</h1>
            <span>Instituto Cultural de Mendoza</span>
            <span>B1 equivalente</span>
            <span><address>Mendoza, AR</address><time>2007 a 2009</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Alemán</h1>
            <span>Sociedad Goetheana de Mendoza</span>
            <span>B1 equivalente / ZD Zertifikat Deutsch</span>
            <span><address>Mendoza, AR</address><time>2009 a 2013</time></span>
        </header>
    </article>
</section>
