<section class="thirteen columns">
    <h1>Experiencia Laboral</h1>
    <article>
        <header>
            <h1>Python Odoo Developer / Full Stack Developer</h1>
            <span>Hospital Español de Mendoza<address>Mendoza, AR</address><time>2016 al Presente</time></span>
        </header>
        <p>Proyectos:</p>
        <ul>
            <li>HCUD (Python/Odoo/React): Historia Clínica Única Digital</li>
            <li>Farmacia (Python/Odoo): ERP, Stock y Ventas de Farmacia</li>
            <li>CAEA (Python/Odoo/SQL Server): Interfaz con Sistema de CAEA de AFIP</li>
            <li>Kronos (Python/Odoo/SQL Server): Motor de integración entre sistema contable y ERP, mediante paradigma publicador/suscriptor y API REST.</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer / Full Stack Developer</h1>
            <span>Midas Consultores SA<address>Mendoza, AR</address><time>2015 a 2016</time></span>
            <p>Proyectos:</p>
        <ul>
            <li>ERP para tienda de filtros para autos (JAVA/Spring/JSP)</li>
            <li>Ruleta para casino online (JAVA/Spring/JavaScript/jQuery/JSP)</li>
        </ul>
        </header>
        </ul>
    </article>
    <article>
        <header>
            <h1>JAVA Spring Developer</h1>
            <span>Concatel SII - CVT SA<address>Mendoza, AR</address><time>2014 al 2015</time></span>
        <p>Proyectos:</p>
        <ul>
            <li>ServiceOne (Java/Spring/JSP): ERP para gestión de recursos e incidentes.</li>
        </ul>
        </header>
    </article>
</section>
