<section class="thirteen columns">
    <h1>Proyectos no laborales</h1>
    <article>
        <article>
            <header>
                <h1>ChangoSmart</h1>
                <span>Java/Spring/JavaScript/HTML5</span>
                <span>con Fernando Leiva, Lucas Aranda y Ignacio Fernandez.</span>
                            </header>
                    <center>
            <img src="{{ site.baseurl }}static/assets/images/changosmart.png" width="30%%" height="30%%">
        </center>

                <i>Del paper original:</i>
                <p>
                    Nuestra propuesta de proyecto surge de una necesidad natural de favorecer la economía diaria de las personas. Observamos que a pesar de estar en la era de las comunicaciones y la información en este momento, actualmente no existe un sistema que sugiera una forma eficiente y beneficiosa de adquirir las disposiciones del consumo diario.
Notamos que los supermercados ofrecen continuamente ofertas a sus clientes para tentarlos a consumir en sus tiendas. Estas ofertas, además de ser muy difíciles de recordar para los clientes (ya que hay ofertas por tarjeta, por día de la semana, por sucursal, etc.), a menudo son engañosas y a menudo actúan como un cebo para que el cliente desprevenido ahorre en la adquisición de un producto, pero pague de más en la adquisición de otro grupo de productos relacionados.
A partir de esta observación, se desarrolló Chango Smart, que es un sistema que analiza una base de datos para calcular en base a precios unitarios, beneficios, descuentos y distancia al comercio, que es el supermercado más recomendado para adquirir una determinada lista de productos. A esta base se suma la participación activa de los usuarios, que pueden cargar precios y productos fácilmente, ya sea a través de la web o un teléfono inteligente, promoviendo así la actualización y la confiabilidad de la información.
En este trabajo encontramos una investigación de softwares existentes, con evaluaciones centradas en sus puntos fuertes. Posteriormente, y teniendo en cuenta esos puntos positivos, se detalla el desarrollo de Chango Smart.
Para concluir, podemos decir que Chango Smart es una solución integral, tecnológica, innovadora y realista al problema antes mencionado y, al mismo tiempo, que este software es amigable y de gran valor para los usuarios al realizar sus compras diarias en supermercados.
                </p>
        </article>
        <header>
            <h1>Android Development</h1>
            <span>Pequeño mapa para registrar contador de semáforos</span>
        </header>
        <header>
            <h1>Angular Development</h1>
            <span>Pequeño simulador para créditos de Procrear Ahorro Joven http://run.plnkr.co/plunks/YeFptd/ </span>
        </header>
        <center>
            <img src="{{ site.baseurl }}static/assets/images/procear.png" width="30%%" height="30%%">
        </center>

    </article>

    <article>
        <header>
            <h1>Encuesta de Incidentes Hospitalarios</h1>
            <span>React</span>
        </header>
        <center>
            <img src="{{ site.baseurl }}static/assets/images/reporte incidentes.png" width="30%%" height="30%%">
            <img src="{{ site.baseurl }}static/assets/images/reporte_incidentes_2.png" width="30%%" height="30%%">
        </center>

    </article>

</section>